* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 320px) {
    /*INTRODUÇÃO*/
    .tema {
        background-image: url(imagens/folhass.svg);
        margin: -10px;
        z-index: 500;
    }
    .intro {
        width: 100%;
        height: 100vh;
    }
    #nome-casal {
        color: rgba(72, 95, 28, 0.507);
        font-family: 'Montez', cursive;
        font-size: 150px;
        text-align: center;
        margin-top: -550px;
        z-index: 700;
    }
    /*PAGINA INICIAL*/
    nav {
        width: 100%;
        height: 80px;
        color: #F5F5F5;
        background-color: #859F81;
        margin: 0;
    }
    #fotocasal {
        height: 100%;
        background-color: salmon;
    }
    #welcome {
        height: 100%;
        background-color: rgb(238, 31, 8);
    }
    #fotolocal {
        height: 100%;
        background-color: rgb(155, 143, 141);
    }
    #mapa {
        height: 100%;
        background-color: rgb(68, 25, 20);
    }
    #momentos {
        height: 100%;
        background-color: rgb(90, 172, 154);
    }
    /*LISTA DE PRESENTES*/
    h1 {
        background-color: salmon;
        align-content: flex-end;
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    /*INTRODUÇÃO*/
    .tema {
        background-image: url(imagens/folhass.svg);
        margin: -10px;
        z-index: 500;
    }
    .intro {
        width: 100%;
        height: 100vh;
    }
    #nome-casal {
        color: rgba(72, 95, 28, 0.507);
        font-family: 'Montez', cursive;
        font-size: 150px;
        text-align: center;
        margin-top: -550px;
        z-index: 700;
    }
    /*PAGINA INICIAL*/
    nav {
        width: 100%;
        height: 80px;
        color: #F5F5F5;
        background-color: #859F81;
    }
    #fotocasal {
        height: 100%;
        background-color: salmon;
    }
    #welcome {
        height: 100%;
        background-color: rgb(238, 31, 8);
    }
}

@media screen and (min-width: 1364px) {}


/*utilitárias*/

.full-height {
    height: 100%;
    width: 100%;
}

.first-section {
    height: calc(100vh - 15px);
}

.button {
    margin: 0 auto;
    display: table;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.button-small {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 12px;
}

.button-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;
}

.button-principal {
    color: rgb(230, 228, 223);
    background-color: rgb(14, 56, 14);
}

.mg-top-30 {
    margin-top: 30px;
}

.mg-bot-30 {
    margin-bottom: 30px;
}