* {
    margin: 0;
    padding: 0;
}

body {
    color: #325449;
    background-color: #F5F5F5;
    font-family: 'Noto Sans', sans-serif;
}

@media screen and (min-width: 320px) {
    body {
        margin-top: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    /*INTRODUÇÃO*/
    .tema {
        background-image: url(imagens/folhass.svg);
        margin: -10px;
        z-index: 500;
    }
    .intro {
        width: 100%;
        height: 100vh;
    }
    #nome-casal {
        color: #859F81;
        font-family: 'Montez', cursive;
        font-size: 150px;
        text-align: center;
        margin-top: -550px;
        z-index: 700;
    }
    /*PAGINA INICIAL*/
    .topnav {
        overflow: hidden;
        background-color: #859F81;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
    }
    .topnav a {
        float: right;
        display: block;
        color: #F5F5F5;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        margin-right: 40px;
    }
    .topnav a:hover {
        color: #325449;
    }
    .topnav .icon {
        display: none;
    }
    .topnav .monograma {
        float: left;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-left: 80px;
        font-size: 25px;
        color: #F5F5F5;
        font-family: 'Montez', cursive;
    }
    .foto-casal {
        width: 300px;
        position: relative;
        border: 5px solid #325449;
    }
    img {
        width: 100%;
    }
    h1 {
        color: #859F81;
        font-family: 'Montez', cursive;
    }
    .welcome {
        margin: auto 20px;
    }
    .welcome p {
        text-align: center;
    }
    ion-icon {
        height: 45px;
        width: 45px;
        color: #859F81;
        font-size: 45px;
        display: flex;
        margin: 0 auto;
    }
    .countdown {
        display: flex;
        flex-direction: row;
    }
    .retangulo {
        width: 60px;
        height: 60px;
        background-color: #859F81;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 90px;
        margin: 10px;
        text-align: center;
        position: relative;
    }
    .info p {
        text-align: center;
    }
    .mapa {
        border: 5px solid #325449;
        width: 300px;
        height: 200px;
    }
    .slider {
        height: 293px;
        width: 600px;
        margin: auto;
        margin-top: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider li {
        list-style: none;
        position: absolute;
    }
    .slider img {
        border: none;
    }
    .slider input {
        display: none;
    }
    .slider label {
        background-color: #000;
        bottom: 10px;
        cursor: pointer;
        display: block;
        height: 10px;
        position: absolute;
        width: 10px;
        z-index: 10;
    }
    .slider li:nth-child(1) label {
        left: 10px;
    }
    .slider li:nth-child(2) label {
        left: 40px;
    }
    .slider li:nth-child(3) label {
        left: 70px;
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1364px) {}

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav .monograma {
        float: left;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-left: 40px;
        font-size: 25px;
        color: #F5F5F5;
        font-family: 'Montez', cursive;
    }
}


/*utilitárias*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro {
    margin: 20px auto;
}

.title {
    margin: 120px auto 30px;
    text-align: center;
    font-size: 50px;
}

.button {
    margin: 0 auto;
    display: table;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.button-small {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 12px;
}

.button-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;
}

.button-principal {
    color: rgb(230, 228, 223);
    background-color: rgb(14, 56, 14);
}

.mg-top-30 {
    margin-top: 30px;
}

.mg-bot-30 {
    margin-bottom: 30px;
}